/* body{
    background-color: rgb(242, 198, 242);
} */

body{
    background-image: url("images/kanye.jpeg");
    background-repeat: no-repeat;
    background-size: 1700px 1200px;
}

h1{
    color: white;
}

p{
    color: white;
 
}